<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div class="panel-body">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <p class="lead">&nbsp&nbspDeCloud 平台面向海量、高速、不间断产生的物联大数据及其
多样化的处理需求而提出，其围绕物联大数据“接、管、算、用、维”
全生命周期的关键问题，突破了高并发、高吞量的流数据接收与分发，
多源数据上的实时流式计算，海量数据的存储组织与服务等系列关键
技术，形成一套专利及软件著作权等自主知识产权软件产品，可提供
流式实时数据和结构化业务数据的接入、集成、处理相关云服务，帮
助实现物联大数据的快速汇聚、综合管理、高效计算、动态关联，支
持物联大数据应用建设与运维。
        </p>
		
    </div>
</div>
</body>
</html>